{% extends 'base.html.twig' %}

{% block metatitle %}
    Pokemon : Liste
{% endblock %}

{% block body %}

    <p>Les articles du blog : </p>

    <section class="pokemon-list">

        {% for pokemon in pokemons %}

            {% if pokemon.isPublished %}
                <article class="pokemon">
                    <div class="pokemon-center">
                        <p>{{ pokemon.title }}</p>
                        <a href="{{ path('show_pokemon', {idPokemon: pokemon.id}) }}" >Voir le pokemon</a>
                        <a href="{{ path('delete') }}"
                    </div>

                </article>
            {% endif %}

        {% endfor %}

    </section>

{% endblock %}
