{% extends 'base.html.twig' %}

{% block metatitle %}
    Pokemon : catégories
{% endblock %}

{% block body %}

{% for category in categories %}
    <p>{{ category }}</p>
{% endfor %}

{% endblock %}