{% extends 'base.html.twig' %}


{% block metatitle %}
    Pokemon : insert
{% endblock %}

{% block body %}
    <p>Le pokemon {{ pokemon.title }} a bien créé ! </p>
{% endblock %}



<form method="post">
    <label>

    </label>
</form>