{% extends 'base.html.twig' %}


{% block metatitle %}
    Pokemon : insert
{% endblock %}

{% block body %}
    <p>Le pokemon {{ pokemon.title }} a bien créé ! </p>
{% endblock %}


<main>
    <div class="addBdd">
<form method="post">
    <label>nom</label>
    <input name="name" id="pokemon" type="text"/>
    <label>description</label>
    <input name="description" id="description" type="text"/>
    <label>image</label>
    <input name="image" id="image" type="text"/>
    <label>type</label>
    <input name="type" id="type" type="text"/>

    <button type="submit">Validez</button>
</form>
    </div>
</main>