{% extends 'base.html.twig' %}

{% block metatitle %}
    Poker
{% endblock %}

{% block body %}

    <form method="get">
        <label>
            Merci de rentrer votre âge
            <input type="number" name="age">
        </label>

        <input type="submit">
    </form>

{% endblock %}
