<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block metatitle %}{% endblock %}</title>

    <link rel="stylesheet" href="   {{ asset('css/style.css') }}">

</head>
<body>
<header>
    <nav class="header-nav">
        <img class="header-logo" src="https://jolstatic.fr/www/captures/1951/6/58356.png" alt="pokemon logo">
            {# j'instencie les liens vers les pages de description  #}
        <ul class="header-links">
            <li><a href="{{ path("home") }}">Page d'accueil</a></li>
            <li><a href="{{ path("pokemon_list_db") }}">Listes pokemon</a></li>
        </ul>
    </nav>
</header>

    {% block body %}{% endblock %}

<footer>
    <p>Copyright La Piscine</p>
</footer>

</body>
</html>
